
@{
    ViewBag.Title = "TempData2";
}

<h2>TempData2</h2>

<hr />

ViewBag.MessageViewData = @ViewBag.MessageViewData

<br /><br />

ViewBag.MessageTempData = @ViewBag.MessageTempData

<br /><br />

ViewBag.MessageSession = @ViewBag.MessageSession 