@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.Metro.cshtml";    
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

@section scripts{
    <script>
       alert("ok");
    </script>
}
